<% include ./partials/header.ejs %>

<!-- Title -->
    <section id="header" class="jumbotron text-center navbar-expand-md">
      <div class="container">
        <h1 id="shop_name">MUAN BARBER SHOP</h1>
        <hr id="name_hr">
        <p id="shop_description">Professional Haircuts for Boys & Men</p>
      </div>
    </section>

<!-- Title -->

<!--Shop pic and desc -->
  <div class="back">
    <section class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="shop-about" src="outside_shop.jpg" width="100%" alt="">
        </div>
        <div class="col-lg-6">
          <p class="shop-about">Muans Barber Shop is one the most reliable and convenient barber shops in all of Rockville, Maryland.
            Muan and Pang have satisfied their clients for many years with quality haircuts for a reasonable price. The service
            is a first come, first serve. Definitely a place for your next haircut! <br><br>
          </p>
          <p class="shop-about">*Walk-Ins are Welcome*</p>
        </div>
      </div>
      <hr>
      <div class="address-footer">
        <div class="row">
          <div class="col-md-6">
              <h2 id="address-top" class="barber">818 Baltimore Rd<br>Rockville, MD 20851</h2>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.961772358301!2d-77.13737968464405!3d39.08456847954222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cd970ea1273b%3A0x29dd33a3861a4dc!2sMuan&#39;s+Barber+Shop!5e0!3m2!1sen!2sus!4v1545687568736" height="300" width="500" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
    </div>
    </section>
  </div>
<!--Shop pic and desc -->

<!-- Shop Info -->
  <div class="shop-info-dub">
    <div class="container">
      <div class="row">
        <div class="shop-info col-md-4 mb-4">
          <h2 class="headers">Hours</h2>
          <hr class="header-hr">
          <p class="shop-info-data">Mon-Fri: 10:00AM - 7:00PM</p>
          <p class="shop-info-data">Sat: 10:00AM - 6:00PM</p>
          <p class="shop-info-data">Sun: 11:00AM - 4:00PM</p>
        </div>

        <div class="shop-info col-md-4 mb-4">
          <h2 class="headers">Prices</h2>
          <hr class="header-hr">
          <p class="shop-info-data">Mens Haircut: $16</p>
          <p class="shop-info-data">Haircut & Beard Trim: $20</p>
          <p class="shop-info-data">Shape Up & Beard: $14</p>
          <p class="shop-info-data">Boys & Seniors: $15</p>
        </div>

        <div class="shop-info col-md-4 mb-4">
          <h2 class="headers">Contact</h2>
          <hr class="header-hr">
          <p class="shop-info-data"><i class="fa fa-phone" aria-hidden="true"></i> (301) 279-7390</p>
        </div>
      </div>
    </div>
  </div>
<!-- Shop Info -->

<!-- Barbers Info -->
  <div class="back">
    <section class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="barber">Barbers</h3>
          <h4 class="barber">Muan: <span class="off"> OFF Mondays</span></h4>
          <h4 class="barber">Pang: <span class="off"> OFF Tue-Wed</span></h4>
        </div>
      </div>
    </section>
  </div>
<!-- Barbers Info -->

<% include ./partials/footer.ejs %>